
*.script
*.pyc
*.err
*.out
wind/sa-fno/uz_allfloors/.ipynb_checkpoints/main-checkpoint.py
wind/sa-fno/uz/Results/.ipynb_checkpoints/loss_history-checkpoint.png
wind/sa-fno/uy_allfloors/Results/.ipynb_checkpoints/loss_history-checkpoint.png
wind/sa-fno/uy_allfloors/.ipynb_checkpoints/main-checkpoint.py
wind/sa-fno/uy/Results/.ipynb_checkpoints/loss_history-checkpoint.png
wind/sa-fno/uy/.ipynb_checkpoints/main-checkpoint.py
wind/sa-fno/ux_allfloors/Results/.ipynb_checkpoints/loss_history-checkpoint.png
wind/sa-fno/ux_allfloors/.ipynb_checkpoints/main-checkpoint.py
wind/sa-fno/ux/.ipynb_checkpoints/main-checkpoint.py
wind/sa-fno/ux/.ipynb_checkpoints/job-checkpoint.sbatch
wind/fno/uz/Results/.ipynb_checkpoints/loss_history-checkpoint.png
/earthquake/data
/wind/data
/wind/deeponet+fno/uz/Results
/wind/deeponet+fno/ux/Results
/wind/deeponet+fno/uy/Results
.DS_Store
.ipynb_checkpoints/
.DS_Store
